@model TabloidMVC.Models.ViewModels.PostCommentsAddViewModel

@{
    ViewData["Title"] = "Create";
}

<h4>Add Comment to @Model.Post.Title</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="@Model.Comment.Id" class="control-label"></label>
                <input asp-for="@Model.Comment.Id" class="form-control" />
                <span asp-validation-for="@Model.Comment.Id" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="@Model.Comment.PostId" class="control-label"></label>
                <input asp-for="@Model.Comment.PostId" class="form-control" />
                <span asp-validation-for="@Model.Comment.PostId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="@Model.Comment.UserProfileId" class="control-label"></label>
                <input asp-for="@Model.Comment.UserProfileId" class="form-control" />
                <span asp-validation-for="@Model.Comment.UserProfileId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Comment.Subject" class="control-label"></label>
                <input asp-for="@Model.Comment.Subject" class="form-control" />
                <span asp-validation-for="@Model.Comment.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Comment.Content" class="control-label"></label>
                <input asp-for="@Model.Comment.Content" class="form-control" />
                <span asp-validation-for="@Model.Comment.Content" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="@Model.Comment.CreateDateTime" class="control-label"></label>
                <input asp-for="@Model.Comment.CreateDateTime" class="form-control" />
                <span asp-validation-for="@Model.Comment.CreateDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
